.root {
    height: var(--modal-height);
    overflow-y: auto;
}

.container {
    padding: 16px 16px 68px 16px;
}

.heading {
    text-align: center;
    color: white;
    background-color: var(--primary-color);
    margin: 0;
    padding: 16px 0;
}

.semesterContainer + .semesterContainer {
    margin-top: 20px;
}

.semesterTitle {
    margin-bottom: 6px;
    margin-left: 4px;
}

.root::-webkit-scrollbar-track {
    background-color: white;
}

.root::-webkit-scrollbar {
    visibility: hidden;
    width: 8px;
}
.root:hover::-webkit-scrollbar {
    visibility: visible;
    width: 8px;
    background-color: #f5f5f5;
}
.root::-webkit-scrollbar-thumb {
    visibility: hidden;
}
.root:hover::-webkit-scrollbar-thumb {
    visibility: visible;
    border-radius: 10px;
    background-color: var(--background-color-secondary);
}

.buttonContainer {
    display: flex;
    column-gap: 8px;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    padding: 8px 32px;
    box-shadow: var(--shadow-primary);
    border-top: 1px solid var(--primary-color);
    border-left: 1px solid var(--primary-color);
    border-left: 0;
    width: 100%;
    justify-content: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
}

.importButton, .cancelButton, .fillButton {
    padding: 8px 16px;
}

.importButton span, .cancelButton span, .fillButton span {
    font-size: 16px;
}

.root .fillButton {
    background-color: var(--background-color-secondary);
}

.root .cancelButton {
    background-color: var(--disable-color);
}

div[class*="changeTable"] + div[class*="changeTable"] {
    margin-top: 16px;
}

.root.isEdit .changeTable {
    display: grid;
    grid-template-columns: 20% 40% 40%;
}

.root.isAdd .changeTable {
    display: grid;
    grid-template-columns: 20% 80%;
}

.changeTable + .changeTable {
    margin-top: 16px;
}

.changeTable > * {
    border: 1px solid var(--primary-color);
    font-size: 16px;
    padding: 4px;
    border-top: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.changeTable > *.center {
    justify-content: center;
}

.changeTable > *.bold {
    font-weight: 500;
}

.changeTable > *.tableHeader {
    border-top: 1px solid var(--primary-color);
    justify-content: center;
    font-weight: 500;
}

.first {

}

.tableHeader + .tableHeader:not(.first) {
    border-left: none;
}

.tableContent + .tableContent:not(.first) {
    border-left: none;
}

.idContainer {
    flex-direction: column;
    row-gap: 4px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.root.isAdd .inputContainer {
    align-items: flex-start;
}

.inputContainer .errorMsg {
    font-size: 12px;
    color: var(--primary-color);
    font-weight: 400;
}

.root.isAdd .inputContainer .errorMsg {
    padding: 0 8px;
}

.inputField {
    box-sizing: border-box;
    display: block;
    width: 100%;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-color);
    border-radius: 4px;
    padding: 6px 8px;
    border: 1px solid white;
}

.inputField:hover, .inputField:focus-visible {
    border: 1px solid var(--background-color-secondary);
}

.inputField.center {
    text-align: center;
}

.root.isAdd .inputField.center {
    text-align: left;
}

.customLabel {
    font-size: 14px;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .root::-webkit-scrollbar {
        width: 0px;
    }

    .container {
        padding: 6px 6px 58px 6px;
    }

    .changeTable > * {
        font-size: 14px;
    }

    .heading {
        font-size: 16px;
    }

    .semesterTitle {
        font-size: 15px;
    }
}

@media only screen and (max-width: 638px) {
    .changeTable > * {
        font-size: 13px;
    }

    .buttonContainer {
        padding-left: 8px;
        padding-right: 8px;
    }

    .importButton span, .cancelButton span, .fillButton span {
        font-size: 13px;
    }
}